<script>
    export let transformed_data = [];
    export let max_city;
    export let min_city;
    const width = 700;
    const height = 300;
    const margin = { top: 9, right: 9, bottom: 9, left: 9 };
    const days=[...Array(31).keys()]
    const inner_Height = height - margin.top - margin.bottom;
    const inner_Width = width - margin.left - margin.right;
    const buildingHeight=inner_Height/18;
    const rescale = function(x, domain_min, domain_max) {
    return ((6 - 0.4)*(x-domain_min))/(domain_max-domain_min) + 0.4
    }
    let pathGenerator_separate=(data,data_range_max,data_range_min)=>{
        let path="M 0,0";
        data.forEach((value,idx_day)=>{
            path+=" "+((inner_Width-100)/744*idx_day)+','+(-rescale(value,data_range_min,data_range_max))
           })
        path+=" "+((inner_Width-100)/744*743)+",0"
        return path
    }
    let pathGenerator_separate_neg=(data,data_range_max,data_range_min)=>{
    let path="M 0,0";
        data.forEach((value,idx_day)=>{
            path+=" "+((inner_Width-100)/744*idx_day)+','+(rescale(value,data_range_min,data_range_max))
          })
        path+=" "+((inner_Width-100)/744*743)+",0"
        return path
    }
</script>

<svg {width} {height}>
    <g transform="translate({margin.left+100}, {margin.top})">
      <text  x=100 y=4>Hourly heating december</text>
    {#each Object.keys(transformed_data) as building, building_idx}
        <g transform="translate(0,{20+buildingHeight*building_idx})">
            <text font-size=9 x=-100 y=3>{building}</text>
            <path  d={pathGenerator_separate(transformed_data[building],max_city,min_city)}/>
            <path  d={pathGenerator_separate_neg(transformed_data[building],max_city,min_city)}/>
        </g>
      {/each}
      {#each days as day}
        <line x1={(inner_Width-100)/31*(day+0.5)} y1={inner_Height-3} x2={(inner_Width-100)/31*(day+0.5)} y2={inner_Height-11}> </line>
        <text font-size=8 x={(inner_Width-100)/31*(day+0.5)-4} y={inner_Height+4}>{day+1}</text>
      {/each}
      <line x1=0 y1={inner_Height-7} x2={inner_Width-100} y2={inner_Height-7}> </line>
      <text font-size=8 x=-20 y={inner_Height+4}>Day</text>
    </g>
  </svg>
  

<style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
    line{
      stroke:black;
    }
  path{
        fill:black;
        fill-opacity:1;
            }
  </style>
