<script>
    import { scaleLinear } from "d3-scale";
    import { max } from "d3-array";
  
    export let data = {};
    export let clockRadius = 75;
    export let tickSize = 10;
  
    const tickRadius = clockRadius + tickSize;
    const fullCircle = 2 * Math.PI;
    let aScale = scaleLinear()
      .domain([0, 12])
      .range([-fullCircle/4, fullCircle - fullCircle/4]);
  
    let aggData = {
      cooling: {},
      heating: {},
    };
    let rScale = null;
    let coolingPath = "";
    let coolingPoints = [];
    let heatingPath = "";
    let heatingPoints = [];
  
    function getAverageByMonth(data, type) {
      const aggData = {};
      Object.keys(data[type]).forEach((month) => {
        aggData[month] = data[type][month]
          .reduce((acc, item) => acc + item[type], 0)
          / data[type][month].length;
      });
      return aggData;
    }
  
    function generatePoints(aggData, aScale, rScale) {
      let path = [];
      Object.keys(aggData).forEach((month) => {
        const angle = aScale(month);
        const radius = rScale(aggData[month]);
        const x = radius * Math.cos(angle);
        const y = radius * Math.sin(angle);
        path.push([x, y, month, aggData[month]])
      })
      return path;
    }
  
    function generatePath(aggData, aScale, rScale) {
      let path = "M";
      Object.keys(aggData).forEach((month) => {
        const angle = aScale(Number(month));
        const radius = rScale(aggData[month]);
        const x = radius * Math.cos(angle);
        const y = radius * Math.sin(angle);
        path += ` ${x},${y}`;
      });
      path += " Z";
      return path;
    }
  
    $: {
      aggData = {
        cooling: getAverageByMonth(data, "cooling"),
        heating: getAverageByMonth(data, "heating"),
      };
    };
    $: {
      const maxCooling = max(Object.keys(aggData.cooling).map((month) => aggData.cooling[month]));
      const maxHeating = max(Object.keys(aggData.heating).map((month) => aggData.heating[month]));
      const rDomain = [0, max([maxCooling, maxHeating])];
      rScale = scaleLinear().domain(rDomain).range([0, clockRadius - 5]);
    }
    $: coolingPath = generatePath(aggData.cooling, aScale, rScale);
    $: coolingPoints = generatePoints(aggData.cooling, aScale, rScale);
    $: heatingPath = generatePath(aggData.heating, aScale, rScale);
    $: heatingPoints = generatePoints(aggData.heating, aScale, rScale);
  </script>
  
  <g transform="translate({clockRadius}, {clockRadius})">
    <line x1={-clockRadius} y1="0" x2={clockRadius} y2="0" stroke="black" />
    <line x1="0" y1={-clockRadius} x2="0" y2={clockRadius} stroke="black" />
    <circle cx="0" cy="0" r={clockRadius} fill="none" stroke="black"/>
    <text x="0" y={-tickRadius} text-anchor="middle" dominant-baseline="middle">0</text>
    <text x={tickRadius} y="0" text-anchor="middle" dominant-baseline="middle">3</text>
    <text x="0" y={tickRadius} text-anchor="middle" dominant-baseline="middle">6</text>
    <text x={-tickRadius} y="0" text-anchor="middle" dominant-baseline="middle">9</text>
    <g>
      <title>Cooling</title>
      <path d={coolingPath} fill="rgba(0,0,255,0.25)" stroke="blue"/>
      {#each coolingPoints as [x, y, m, avg]}
        <circle cx={x} cy={y} r="2" fill="blue">
          <title>Month {m}, {avg}</title>
        </circle>
      {/each}
    </g>
    <g>
      <title>Heating</title>
      <path d={heatingPath} fill="rgba(255,0,0,0.25)" stroke="red"/>
      {#each heatingPoints as [x, y, m, avg]}
        <circle cx={x} cy={y} r="2" fill="red">
          <title>Month {m}, {avg}</title>
        </circle>
      {/each}
    </g>
  </g>
