<script>
    import { scaleLinear } from "d3-scale";
    export let data;
    export let height;
    export let width;
    export let maxDataPoints;
    export let maxUsage;
    const week = data[0].week;
    const y1 = height - 100 - (week - 48) * 75;
    const heightFromCenter = (pointIndex) => (pointIndex / maxDataPoints) * 50;
    const y2 = y1 - heightFromCenter(data.length);
    const x1 = width / 2;
    const lengthFromCenter = (pointIndex) => (pointIndex / maxDataPoints) * 200;
    const leafLength = lengthFromCenter(data.length);
    const x2 = data[0].week % 2 === 0 ? x1 + leafLength : x1 - leafLength;
  
    let elPath = "";
    let gasPath = "";
  
    const leafScale = scaleLinear().domain([0, maxUsage]).range([0, 100]);
    elPath += `M${x1} ${y1 - 0.5} `;
    data.forEach((element, index) => {
      let thickness = leafScale(element.total_electrity);
      if (data[0].week % 2 === 0) {
        elPath += `L${x1 + lengthFromCenter(index)} ${
          y1 - thickness - heightFromCenter(index) - 0.5
        } `;
      } else {
        elPath += `L${x1 - lengthFromCenter(index)} ${
          y1 - thickness - heightFromCenter(index) - 0.5
        } `;
      }
    });
    elPath += `L${x2} ${y2 - 0.5}`;
    gasPath += `M${x1} ${y1 + 0.5} `;
    data.forEach((element, index) => {
      let thickness = leafScale(element.total_gas);
      if (data[0].week % 2 === 0) {
        gasPath += `L${x1 + lengthFromCenter(index)} ${
          y1 + thickness - heightFromCenter(index) + 0.5
        } `;
      } else {
        gasPath += `L${x1 - lengthFromCenter(index)} ${
          y1 + thickness - heightFromCenter(index) + 0.5
        } `;
      }
    });
    gasPath += `L${x2} ${y2 + 0.5}`;
  </script>
  
  <svg>
    <line {x1} {x2} {y1} {y2} style="stroke:black" />
    <path d={elPath} fill="#1790FF" />
    <path d={gasPath} fill="#FFBA28" />
  </svg>
  