<script>
    import Plot from "./_design_1_line.svelte";
    import {onMount} from 'svelte'
    import PlotCommon from "./_design_1_lines.svelte"
    import { json } from "d3-fetch";
    import { extent } from 'd3-array';
    import Controls from "./_design_1_controls.svelte";
    
    $: present=["Baltimore","within building type"];
    $: city=present[0];
    $: scale=present[1];
  
    let datapoints=null
    let transformed_data={}
    let range={}
    let ready
    onMount(async () => {
    datapoints = await json('/data/hourly_heating_december.json')
    datapoints.forEach((d)=>{
        if (!(d.city in transformed_data)){
          transformed_data[d.city]={}
        }
        if (!(d.buildingtype in transformed_data[d.city])){
          transformed_data[d.city][d.buildingtype]=[]
        }
        if (!(d.city in range)){
          range[d.city]={}
        }
        if (!(d.buildingtype in range[d.city])){
          range[d.city][d.buildingtype]={'min':null, 'max':null}
        }
        transformed_data[d.city][d.buildingtype].push(d.total_heating_energy)
        range[d.city][d.buildingtype]['min']=extent(transformed_data[d.city][d.buildingtype])[0]
        range[d.city][d.buildingtype]['max']=extent(transformed_data[d.city][d.buildingtype])[1]
        })
        ready=true;
      })
  $: data_city=transformed_data[city]
  $: range_city=range[city]
  function maxValues(data){
    let max_city=0
    Object.keys(data).forEach((key)=>{if(data[key]['max']>max_city){max_city=data[key]['max']}})
    return max_city
  }
  function minValues(data){
    let min_city=0
    Object.keys(data).forEach((key)=>{if(data[key]['min']<min_city){min_city=data[key]['min']}})
    return min_city
  }
  
  
  
  </script>
  
  {#if ready } 
    
    {#if scale=="within building type"}
    <Plot transformed_data={data_city} {range_city}/>
    {:else}
    <PlotCommon transformed_data={data_city} max_city={maxValues(range_city)} min_city={minValues(range_city)}/>
    {/if}
    <Controls bind:present={present} />
  {:else}
  <p>Loading the data...</p>
  {/if}
  