<script>
    import { max } from "d3-array";
    import { json } from "d3-fetch";
    import { onMount } from "svelte";
    import Leaf from "./_design_3_leaves.svelte";
  
    const width = 500;
    const height = 600;
    const margin = { top: 9, right: 9, bottom: 9, left: 9 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
  
    let data = null;
    let weeks = [];
    let maxDataPoints = 0;
    let maxUsage = 0;
    onMount(async () => {
      data = await json("/data/hourly_electricity_vs_gas_december.json");
      data.forEach((element) => {
        if (!weeks.includes(element.week)) {
          weeks.push(element.week);
        }
      });
      maxDataPoints = data.filter((elem) => elem.week == 48).length;
      let maxEl = max(data, (d) => d.total_electrity);
      let maxGas = max(data, (d) => d.total_gas);
      maxUsage = Math.max(maxEl, maxGas);
    });
  </script>
  
  {#if data}
    <svg {width} {height}>
      <!--Text-->
      <text x="80" y="30" style="font-size:30">Baltimore (December 2014)</text>
      <text x="20" y="60" style="fill:#1790FF">Blue = Electricity usage</text>
      <text x="20" y="80" style="fill:#FFBA28">Orange = Gas usage</text>
  
      <g transform="translate({margin.left}, {margin.top})">
        <defs id="arrowDefs">
          <marker
            id="arrowEnd"
            fill="black"
            stroke-linejoin="bevel"
            viewBox="0 0 8000 8000"
            refX="280"
            refY="150"
            markerUnits="strokeWidth"
            markerWidth="300"
            markerHeight="300"
            orient="auto"
            ><path
              id="arrowEndPath"
              stroke="rgb(0, 0, 0)"
              stroke-width="5"
              d="M 2 59 L 293 148 L 1 243 L 121 151 Z"
            /></marker
          >
        </defs>
        <path
          d="M {440},{300} Q {440},{250} {400},{230}"
          fill="none"
          stroke="black"
          style="z-index:100"
          marker-end="url(#arrowEnd)"
        />
        <text x="273" y="235">Midnight Sunday</text>
  
        <text x="400" y="520">Week 1</text>
        <text x="80" y="450">Week 2</text>
  
        {#each weeks as week}
          <Leaf
            data={data.filter((elem) => elem.week == week)}
            {height}
            width={innerWidth}
            {maxDataPoints}
            {maxUsage}
          />
        {/each}
        <line
          x1={innerWidth / 2}
          x2={innerWidth / 2}
          y1={height - 30}
          y2={100}
          style="stroke:black; "
          marker-end="url(#arrowEnd)"
        />
        <text x="220" y="95">Week</text>
      </g>
    </svg>
  {:else}
    <p>Loading data...</p>
  {/if}
  
  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
  </style>
  