<script>
    import { extent } from "d3-array";
    import { json } from "d3-fetch";
    import { onMount } from "svelte";
    import Clock from './_design_2_radius.svelte';
  
    // Size and margins
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    const clockRadius = 75;
    const tickSize = 10;
  
    let originalData = null;
    let plotData = null;
  
    function groupDataByCityAndTypeAndMonth(data) {
      const mappedData = {
        "Baltimore": {
          cooling: {},
          heating: {},
        },
        "Chicago": {
          cooling: {},
          heating: {},
        },
        "Los Angeles": {
          cooling: {},
          heating: {},
        },
      };
      data.forEach((item) => {
        if (mappedData[item.city].cooling[item.month]) {
          mappedData[item.city].cooling[item.month].push(item);
          mappedData[item.city].heating[item.month].push(item);
        } else {
          mappedData[item.city].cooling[item.month] = [item];
          mappedData[item.city].heating[item.month] = [item];
        }
      });
      return mappedData;
    }
  
    function getTransform(index) {
      const left = 2 * tickSize + (index * (innerWidth / 3));
      const top = (innerHeight - (2 * (clockRadius + tickSize) + tickSize)) / 2;
      return `translate(${left}, ${top})`;
    }
  
    onMount(async () => {
      originalData = await json("/data/daily_heating_cooling.json");
      plotData = groupDataByCityAndTypeAndMonth(originalData);
    });
  </script>
  
  {#if plotData === null}
    <p>Fetching data. Please Wait...</p>
  {:else}
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">
        {#each Object.entries(plotData) as [city, value], index}
          <g transform={getTransform(index)}>
            <text
              transform="translate({clockRadius}, 0)"
              text-anchor="middle"
              dominant-baseline="middle">
              {city}
            </text>
            <g transform="translate(0, {tickSize * 3})">
              <Clock
                data={value}
                clockRadius={clockRadius}
                tickSize={tickSize}
              />
            </g>
          </g>
        {/each}
      </g>
    </svg>
  {/if}
  
  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
  </style>
  