
<p style="font-size:30px;color:steelblue">I <span style="color:orange">really</span> like data visualisation!</p>
=======
<p>I really like data visualisation!</p>
<p style="font-size:30px;color:steelblue">I <span style="color:red">really</span> like data visualisation!</p>

