<script>

    const radius = 10
    function circum(r){
        return (2*Math.PI*r).toFixed(2);
    }
</script>
<p>The circumference of a circle with radius {radius}m is {circum(radius)}m</p>

   
   

