<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  // import scale

import { scaleLog } from 'd3-scale';
const scale = scaleLog([1,10],[1,innerWidth] )
import {axisBottom} from 'd3-axis';
import {select} from 'd3-selection';

  // Array
  const values = [2, 4, 6, 7, 9];
  let xaxis = (x) => {
axisBottom(scale)(select(x))}


</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <g transform ="translate(0,50)" use:xaxis></g>
   
      {#each values as val}
      <circle cx={scale(val)} cy="{innerHeight/2}" r="10" fill="steelblue"/>
      {/each}

  </g>
  <text x={innerWidth/2} y=100>X axis</text>

</svg>

<style>
  text {
    text-anchor: middle;
    font-size: 9px;
    fill: currentColor;
  }
 </style>
