<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
  //Import

import { scaleLinear, scaleOrdinal} from 'd3-scale';
import{schemeSet3} from 'd3-scale-chromatic'
import {extent} from 'd3-array';
const scaleX = scaleLinear().domain([0,10]).range([0, innerWidth]);
const scaleY = scaleLinear().domain([3,0]).range([0, innerHeight]);
const scaleColour = scaleOrdinal(schemeSet3).domain(extent(values, color => color.category));
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as val}

    <circle cx={scaleX(val.x)} 
    cy={scaleY(val.y)} 
    r="5" 
    style={"fill:" +scaleColour(val.category)}/>

    <line x1="0" 
    x2={innerWidth} 
    y1="70" 
    y2="70" 
    stroke="black" 
    stroke-width=1px></line>

    <text  x={scaleX(val.x)} 
    y={scaleY(val.y) - 10}>{val.y}</text>

    <line x1={scaleX(val.x)} 
    x2={scaleX(val.x)} 
    y1={scaleY(val.y)+5} 
    y2=70 
    stroke="black" 
    stroke-width=1px></line>
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: 10px;
  }
</style>
